body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    height: auto;
    width: 500px;
    object-fit: contain;
}

nav li {
    list-style-type: none;
}

a {
   text-decoration: none; 
   color: black;
}
 a:hover {
    color: blue;
 }